.root {
    -fx-font-family: "Segoe UI";
}

.menu-bar {
    -fx-background-color: #8b4d00;
}

.menu {
    -fx-text-fill: white;
}

.left-panel {
    -fx-background-color: #c0812c;
}

.avatar-container {
    -fx-background-color: white;
    -fx-padding: 5;
    -fx-background-radius: 5;
    -fx-alignment: center;
}

.right-panel {
    -fx-background-color: #6be000;
}

.text-field {
    -fx-background-radius: 0;
    -fx-border-color: #d1d1d1;
    -fx-border-width: 1px;
}

.text-field:focused {
    -fx-border-color: #00e5ff;
    -fx-border-width: 2px;
}

.button {
    -fx-background-color: #c0812c;
    -fx-background-radius: 8;
    -fx-padding: 10;
    -fx-font-size: 14px;
    -fx-text-fill: black;
}

.button:hover {
    -fx-background-color: #a35b00;
}

.table-view .column-header-background {
    -fx-background-color: #9e9e9e;
}

.table-view .column-header {
    -fx-background-color: #9e9e9e;
    -fx-size: 30;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0 0 0 5;
}

.table-cell {
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0 0 0 5;
}

.table-row-cell:selected {
    -fx-background-color: #ffcc80;
}